__pycache__/
.ipynb_checkpoints/
.DS_Store
acars/
armdata/
bl-class/TAMU_TRACER_radiosonde_data_final/
tobac_15/
mpl-generated/
seminar-f24-figs/
sam_sbf_img/
sam_polyline/*_interpolated.json
wiggle_sounding/